h1{
    color: white;
  }
  
  .passwordField{
    position: relative;
    top: 200px;
  }
  .password_input_field{
    display: flex;
    justify-content: center;
    align-items: center;
  
    .pass_input{
    border: 0px;
    height: 17.5px;
    border-width: 0px;
    border-right-color: white;
  }
    .password_eye{
      /* margin-left: 10px; */
      cursor: pointer;
      background-color: white;
      border-left: 0px;
      border-left-color: white;
    }
  }